<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.weme.remix">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ui.intro.AtyWelcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.intro.AtyLogin" />
        <activity android:name=".ui.intro.AtyRegister" />
        <activity android:name=".ui.intro.AtyContract" />
        <activity android:name=".ui.intro.AtyEditInfo"  />
        <activity android:name=".ui.intro.AtySearchCity" />

        <activity android:name=".ui.main.AtyMain" />
        <activity android:name=".ui.community.AtyPostNew" />
        <activity android:name=".ui.community.AtyPostReply" />
        <activity android:name=".ui.community.AtyTopic"  android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".ui.community.AtyPost" android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".ui.AtyImage" android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".ui.user.AtyInfo" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.user.AtyFriend" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.user.AtySeeMe" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.user.AtyMessage" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.user.AtyMessageDetail" android:theme="@style/AppTheme.Translucent" />
        <activity android:name=".ui.user.AtyMessageReply" />
        <activity android:name=".ui.user.AtyUserActivity"/>
        <activity android:name=".ui.find.AtyDiscovery" />
        <activity android:name=".ui.find.AtyDiscoveryFood" />
        <activity android:name=".ui.user.AtyImagePager" />
        <activity android:name=".ui.user.AtyNearBy" />
        <activity android:name=".ui.find.AtyFoodMap" />
        <activity android:name=".ui.user.AtySetting" />

        <activity android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />


        <service android:name="com.amap.api.location.APSService"/>

        <meta-data android:value="56ad96c667e58ef41100249d" android:name="UMENG_APPKEY"/>
        <meta-data android:value="seu" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fb85887c5598e510ac43099cd1eefc9a"/>

    </application>
</manifest>
